<%- include('../includes/head.ejs') %>

<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include('../includes/alttopnav.ejs') %>
    <!-- Header -->
    <!-- Header -->
    <%- include('../includes/altheader.ejs') %>
    <!-- Page content -->
    <section class="container-fluid mt-3">
        <div class="row">
            <div class="card col-md-4">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <a href="#" class="avatar avatar-xl rounded-circle">
                        <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
                      </a>
                    </div>
                    <div class="col ml--2">
                      <h4 class="mb-0">
                        <a href="#!">John Snow</a><br>
                        <a class="text-warning" href="#!">Role</a>
                      </h4>
                      <p class="text-sm text-muted mb-0">Project Name</p>
                      <p class="text-sm text-muted mb-0">Project Name</p>
                      <span class="text-success">●</span>
                      <small>Avilable</small>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-sm btn-primary">Assign</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

<%- include('../includes/footer.ejs') %>